{
    "extends": "rallycoding",
    "rules": {
        "max-len": "off",
        "global-require": "off",
        "no-mixed-operators": 0,
        "max-lines": [
            "error",
            {
                "skipComments": true,
                "skipBlankLines": true
            }
        ]
    }
}